<launch>

  <node name = "remote_controller"	        pkg="drive_rc_car"	type="remote_controller.py" output="screen" launch-prefix="gnome-terminal --command" />

  <node name = "vehicle_controller"	pkg="drive_rc_car"	type="vehicle_control.py" />

<node name = "mode_swicther"	pkg="drive_rc_car"	type="mode_switcher.py" />

  <node name = "arduino_pwm"	pkg="rosserial_python"	type="serial_node.py" >
  <param name="port"            type="string"           value="/dev/ttyUSB0" /> 
  </node>

    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <node name = "imu_data_publisher"	pkg="rc_sense"	type="imu_publisher.py" />

  <node name = "imu_speed_publisher"	pkg="rc_sense"	type="imu_speed.py" />
</launch>
